<div class="contenedor-main">

    <input [(ngModel)]="searchText" class="form-control form-control-lg" type="text" placeholder="Busqueda... ">

    <table class="table" *ngIf='pagos && pagos.length'>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">PagoId</th>
                <th scope="col">TerceroIdentificacion</th>
                <th scope="col">Tipopago</th>
                <th scope="col">Fechapago</th>
                <th scope="col">ValorPago</th>
                <th scope="col">Iva</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pago of pagos|filtroIdentificacion:searchText; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ pago.pagoId}} </td>
                <td>{{ pago.terceroIdentificacion}}</td>
                <td>{{ pago.tipoPago}}</td>
                <td>{{ pago.fechaPago}}</td>
                <td>{{ pago.valorPago}}</td>
                <td>{{ pago.iva}}</td>
            </tr>
        </tbody>
    </table>
</div>
