<div class="position">
  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col py-3 px-lg-5 border ">
        <h2>
          Realiza rapido tus pagos con la mejor atención del mundo
        </h2>
        <p>
         ¿ Los pagos mas rapidos del oeste?
        </p>
        <button type="button" class="btn btn-info btn-lg buttonposition">Pagar ahora! -></button>
      </div>
      <div class="col py-3 px-lg-5 border "><img src="https://www.flaticon.es/svg/static/icons/svg/3750/3750045.svg"></div>
    </div>
  </div>
</div>