<div class="modal-header center">
    <h2 class="modal-title">Informacion de registro</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="container">
        <form [formGroup]="registrarTerceroForm" >
            <div class="form-group">
                <input type="text" class="form-control" formControlName="terceroIdentificacion" name="terceroIdentificacion" placeholder="Numero de identificacion" [ngClass]="{ 'is-invalid': submitted && f.terceroIdentificacion.errors}">
                 <div *ngIf="submitted && f.terceroIdentificacion.errors" class="invalid-feedback">
                    <div *ngIf="f.terceroIdentificacion.errors.required">El correo es requerida</div>
                  </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="tipoDocumento" name="tipoDocumento" placeholder="Tipo de documento" [ngClass]="{ 'is-invalid': submitted && f.tipoDocumento.errors}">
                 <div *ngIf="submitted && f.tipoDocumento.errors" class="invalid-feedback">
                    <div *ngIf="f.tipoDocumento.errors.required">El correo es requerida</div>
                  </div>
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <input type="text" class="form-control" formControlName="nombreTercero" name="nombreTercero" placeholder="nombre"
                    [ngClass]="{ 'is-invalid': submitted && f.nombreTercero.errors}">
                    <div *ngIf="submitted && f.nombreTercero.errors" class="invalid-feedback">
                        <div *ngIf="f.nombreTercero.errors.required">El correo es requerida</div>
                      </div>
                </div>
                <div class="form-group ">
                    <input type="text" class="form-control" formControlName="direccion" name="direccion" placeholder="Direccion"
                    [ngClass]="{ 'is-invalid': submitted && f.direccion.errors}">
                    <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
                        <div *ngIf="f.direccion.errors.required">El correo es requerida</div>
                      </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <input type="text" class="form-control" formControlName="telefono" name="telefono" placeholder="Telefono"
                    [ngClass]="{ 'is-invalid': submitted && f.telefono.errors}">
                    <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                        <div *ngIf="f.telefono.errors.required">El correo es requerida</div>
                      </div>
                </div>
                <div class="form-group ">
                    <input type="text" class="form-control" formControlName="pais" name="pais"  placeholder="Pais"
                    [ngClass]="{ 'is-invalid': submitted && f.pais.errors}">
                    <div *ngIf="submitted && f.pais.errors" class="invalid-feedback">
                        <div *ngIf="f.pais.errors.required">El correo es requerida</div>
                      </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <input type="text" class="form-control" formControlName="departamento" name="departamento" placeholder="Departamento"
                    [ngClass]="{ 'is-invalid': submitted && f.departamento.errors}">
                    <div *ngIf="submitted && f.departamento.errors" class="invalid-feedback">
                        <div *ngIf="f.departamento.errors.required">El correo es requerida</div>
                      </div>
                </div>
                <div class="form-group ">
                    <input type="text" class="form-control" formControlName="ciudad" name="ciudad" placeholder="Ciudad"
                    [ngClass]="{ 'is-invalid': submitted && f.ciudad.errors}">
                    <div *ngIf="submitted && f.ciudad.errors" class="invalid-feedback">
                        <div *ngIf="f.ciudad.errors.required">El correo es requerida</div>
                      </div>
                </div>
            </div>
            <div>
                <div aria-label="Basic example">
                    <button type="button" class="btn btn-outline-secondary"(click)="OnSubmit()" [disabled]="registrarTerceroForm.invalid">Registrar</button>
                    <button type="button" class="btn btn-outline-secondary separar">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>