<div>
    <div class="center">
        <h2>Realizar pago</h2>
    </div>
    <div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control " id="inputIdentidad" placeholder="Numero de identidad">
                </div>
                <div >
                    <button class="btn btn-info btn-lg" type="button" (click)="Verificar()" >Verificar</button>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Seleccione el tipo de pago</label>
                <select class="form-control" id="exampleFormControlSelect1">
                <option selected>Seleccione...</option>
                  <option>Gastos Administrativos</option>
                  <option>Gastos Financieros</option>
                  <option>Gastos Legales</option>
                  <option>Gastos de Viajes y transporte</option>
                  <option>Honorarios</option>
                  <option>Arrendamiento</option>
                  <option>Impuestos y retenciones</option>         
                </select>
              </div>
            <div class="form-group">
                <label for="inputFecha">Fecha de pago</label>
                <input type="date" class="form-control" name="inputFecha">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="inputValorPago" placeholder="Valor del pago">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="inputCiudad" placeholder="IVA">
            </div>
            <div >
                <div aria-label="Basic example" >
                    <button  type="button" class="btn btn-info  posicionboton"   >Pagar</button>
                    <button  type="button" class="btn btn-info  separar">Cancelar </button>
                </div>
            </div>
        </form>
    </div>
</div>
